doctype html
title Dirtwolf Central
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
style.
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  .bgimg {
  background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  }
.bgimg.w3-display-container.w3-animate-opacity.w3-text-white
  .w3-display-topleft.w3-padding-large.w3-xlarge
    | Dirtwolf Central
  .w3-display-middle
    h1.w3-jumbo.w3-animate-top.w3-center COMING SOON
    hr.w3-border-grey(style='margin:auto;width:40%')
    p.w3-large.w3-center League of Legends | Call of Duty: Modern Warfare | World of Warcraft
  .w3-display-bottomleft.w3-padding-large
    | email 
    a(href='mailto:dirtwolfcentral@gmail.com' target='_blank') dirtwolfcentral@gmail.com
